<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings file="AppData\Confidential\hubstaff.config">
    <!--wkhtmltopdf.exe has been used to convert html to pdf. It can be downloaded from http://wkhtmltopdf.org/downloads.html-->
    <add key="PdfConverterApp" value="locationTo"/>
    <!--7za.exe has been used for compression. It can be downloaded from http://www.7-zip.org/download.html-->
    <add key="SevenZipApp" value="location_of_7za.exe"/> 
    <add key="RootFolderName" value="HubstaffReports"/>
    <!-- Hubstaff API reference https://developer.hubstaff.com/docs/api -->
    <add key="HubstaffApiRoot" value="https://api.hubstaff.com/v1/"/>
  </appSettings>
</configuration>