<appSettings>
  <add key="DataLocation" value="" />
  <add key="DecryptionKeyLocation" value="" />
  <add key="HubstaffCredentialsFilePath" value="" />
  <add key="HubStaffAuthTokensFilePath" value="" />
  <add key="SmtpHost"  value=""/>
  <add key="SmtpUser" value=""/>
  <add key="SmtpPassword" value=""/>
  <add key="SmtpPort" value=""/>
  <add key="EmailRecipients" value=""/>
  <add key="ArchivePassword" value=""/>
  <add key="SmtpSender" value=""/>
</appSettings>